/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
}


header {
  text-align: center;
  padding: 20px 0;
  background-color: #007acc;
  /* Header background color */
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
}

header nav {
  margin: 20px 0;
}

.nav-links {
  margin-top: 20px;
  list-style-type: none;
  /* Remove default list styling */
  padding: 0;
  /* Remove default padding */
  font-weight: bold;
}

.nav-links li {
  display: inline;
  /* Display links inline */
  margin: 0 15px;
  /* Space between links */
}

.nav-links a {

  /* Remove underline from links */
  color: white;
  /* Link color */
  transition: color 0.3s;
  /* Smooth color transition */
}

.nav-links a:hover {
  color: #bbbbbb;
  text-decoration: none;
}

h1 {
  font-size: 2.5em;
  /* Larger font for the main title */
  margin-bottom: 10px;
}

h2 {
  font-size: 2em;
  /* Slightly larger subheadings */
  margin-bottom: 6px;
}

h3 {
  font-size: 1.5em;
  /* Sub-subheading for project titles */
  margin: 15px 0 5px;
  color: #005a99;
  /* Darker shade for contrast */
}

.contact-icons {
  margin-top: 10px;
}

.contact-icons a {
  color: white;
  margin: 0 10px;
  font-size: 1.5em;
  /* Icon size */
  transition: color 0.3s;
  /* Smooth transition */
}

.contact-icons a:hover {
  color: #e0e0e0;
  /* Change color on hover */
}

section {
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  padding: 5px 20px;
  background: white;
  /* White background for sections */
  border-radius: 8px;
  /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Subtle shadow */
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #007acc;
  color: white;
  position: relative;
  bottom: 0;
  /* Keep footer at the bottom */
  margin-top: 20px;
  /* Space between content and footer */
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  /* Underline on hover for better UX */
}

ul {
  list-style-type: disc;
  /* Bullet points for lists */
  margin-left: 20px;
  /* Indentation for list items */
}

.project-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Center align images */
  margin-bottom: 20px;
  /* Space below the images */
}

.project-images img {
  width: 350px;
  /* Set width for images */
  height: auto;

  max-height: 350px;

  object-fit: cover;
  /* Maintain aspect ratio */
  margin: 10px;
  /* Space between images */
  border-radius: 5px;
  /* Optional: rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Optional: subtle shadow */
}

.open-modal {
  cursor: pointer;
  /* Change cursor to pointer for clickable images */
  transition: transform 0.2s;
  /* Optional: Add a transition for a nice effect */
}

.open-modal:hover {
  transform: scale(1.05);
  /* Optional: Slightly scale the image on hover */
}

.swal2-modal {
  width: auto;
  /* Set to auto for natural sizing */
  max-width: 80%;
  /* Maximum width */
  padding: 0;
  /* Remove default padding */
}

.swal2-image {
  max-width: 70%;

  max-height: 100%;
  /* Ensure the image takes full width of the modal */
  height: auto;
  /* Maintain aspect ratio */
}

/* Responsive Design */
@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  section {
    padding: 10px;
  }

  h1 {
    font-size: 2em;
    /* Adjust header size on smaller screens */
  }

  h2 {
    font-size: 1.5em;
    /* Adjust subheading size on smaller screens */
  }

  h3 {
    font-size: 1.2em;
    /* Adjust project title size on smaller screens */
  }
}